<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>图片-Base64 - Online Tools</title>
    <link rel="stylesheet" href="/css/mdui.min.css"/>
    <link rel="stylesheet" href="/css/docs.min.css"/>
    <link rel="stylesheet" href="/css/materiality.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script src="/js/require.js"></script>
    <script src="/js/mdui.min.js"></script>
    <script src="/js/darkmode.min.js"></script>
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-192868662-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-192868662-2');
</script>
<style>
    .file {
        position: relative;
        display: inline-block;
        background: #FF4081;
        border-radius: 4px;
        padding: 4px 13px;
        overflow: hidden;
        color: #FFFFFF;
        text-decoration: none;
        text-indent: 0;
        line-height: 28px;
    }

    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }

    .file:hover {
        background: #FF80AB;
        color: #FFFFFF;
        text-decoration: none;
    }
</style>

<body class="mdui-drawer-body-left mdui-appbar-with-toolbar  mdui-theme-primary-indigo mdui-theme-accent-pink mdui-theme-layout-light">
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white"
              mdui-drawer="{target: '#main-drawer', swipe: true}"><i class="mdui-icon fa fa-bars"></i></span>
        <a href="https://www.zjun.info" class="mdui-typo-headline mdui-hidden-xs">ZJUN</a>
        <a href="/" class="mdui-typo-title">online tools</a>
        <div class="mdui-toolbar-spacer"></div>
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" id="dark_toggle_btn"
              mdui-tooltip="{content: '暗色模式'}" onclick="toggleDark()"><i class="mdui-icon fa fa-adjust"
                                                                         id="dark_toggle_icon"></i></span>
        <a href="https://github.com/z1un" target="_blank" class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white"
           mdui-tooltip="{content: 'Github'}"><i class="mdui-icon fa fa-github"></i>
            <a href="https://www.zjun.info" target="_blank" class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white"
               mdui-tooltip="{content: 'ZJUN'}"><i class="mdui-icon fa fa-user-circle-o"></i>
            </a>
        </a>
    </div>
</header>

<div class="mdui-drawer" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">
        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon mdui-text-color-blue fa fa-briefcase"></i>
                <div class="mdui-list-item-content">前端工具</div>
                <i class="mdui-collapse-item-arrow mdui-icon fa fa-angle-down"></i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/en-decode" class="mdui-list-item mdui-ripple">编码转换</a>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/code-beautify" class="mdui-list-item mdui-ripple">代码美化</a>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/image-base64/" class="mdui-list-item mdui-ripple mdui-list-item-active">图片-Base64</a>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/qr-code" class="mdui-list-item mdui-ripple">二维码生成</a>
            </div>
        </div>

        <div class="mdui-collapse-item ">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon mdui-text-color-green fa fa-cube"></i>
                <div class="mdui-list-item-content">安全工具</div>
                <i class="mdui-collapse-item-arrow mdui-icon fa fa-angle-down"></i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/googlehacking" class="mdui-list-item mdui-ripple ">Google Hacking</a>
                <a href="/getav" class="mdui-list-item mdui-ripple ">Windows杀软识别</a>
                <a href="/getmskb" class="mdui-list-item mdui-ripple ">Winodws提权辅助</a>
            </div>
        </div>
        <div class="mdui-collapse-item ">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon mdui-text-color-brown fa fa-font-awesome"></i>
                <div class="mdui-list-item-content">特别感谢</div>
                <i class="mdui-collapse-item-arrow mdui-icon fa fa-angle-down"></i>
            </div>
            <div class="mdui-collapse-item-body">
                <a href="https://github.com/r00tSe7en/GoogleHackingTool" class="mdui-list-item mdui-ripple"
                   target="_blank">GoogleHackingTool</a>
                <a href="https://github.com/r00tSe7en/get_AV" class="mdui-list-item mdui-ripple"
                   target="_blank">get_AV</a>
                <a href="https://github.com/gh0stkey/peAssist" class="mdui-list-item mdui-ripple" target="_blank">peAssist</a>
                <a href="https://github.com/gh0stkey/avList" class="mdui-list-item mdui-ripple"
                   target="_blank">avList</a>
                <a href="https://github.com/zxlie/FeHelper" class="mdui-list-item mdui-ripple"
                   target="_blank">FeHelper</a>
                <a href="https://www.mdui.org" target="_blank" class="mdui-list-item mdui-ripple">MDUI</a>
                <a href="https://github.com/EAimTY/materiality-typecho-theme"
                   target="_blank" class="mdui-list-item mdui-ripple">materiality-typecho-theme</a>
            </div>
        </div>
        <div class="mdui-collapse-item">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon mdui-text-color-deep-orange fa fa-link"></i>
                <div class="mdui-list-item-content">友情链接</div>
                <i class="mdui-collapse-item-arrow mdui-icon fa fa-angle-down"></i>
            </div>
            <div class="mdui-collapse-item-body">
                <a href="https://www.zjun.info" class="mdui-list-item mdui-ripple" target="_blank">zjun</a>
                <a href="https://blog.zjun.info" class="mdui-list-item mdui-ripple" target="_blank">zjun's blog</a>
            </div>
        </div>
    </div>
</div>

<a id="anchor-top"></a>
<div class="page-content">
    <div class="mdui-container" id="main">
        <div id="pageContainer">
            <div class="mdui-typo">
                <center><h1>图片-Base64<small> {{ toolName[curType] }}</small></h1></center>
                <br/>
            </div>
            <button class="mdui-btn mdui-color-theme-accent mdui-ripple" @click="trans">切换为{{toolName[nextType]}}
            </button>

            <div class="panel-body mod-imagebase64" ref="imageBase64" v-show="curType=='image'">
                <div class="x-panel" ref="panelBox">
                    <br/><img id="preview" alt="" :src="previewSrc" v-show="!!previewSrc.length" height="200"
                              width="200">
                </div>
                <div id="rst" class="row" v-show="resultContent.length > 0">
                    <div class="mdui-textfield">
                        <textarea class="mdui-textfield-input" rows="10" id="base64Result" readonly ref="resultBox"
                                  @click="select()" v-model="resultContent">
                        </textarea>
                        <div class="mdui-textfield-helper">原始图片大小：{{sizeOri}} | DataUri大小：{{sizeBase}}</div>
                    </div>
                </div>
                <br/>
                <form action="#" class="file mdui-ripple">点击上传需要转换图片
                    <input type="file" id="file" accept=".jpg,.jpeg,.gif,.png,.bmp" ref="fileBox" @change="convert()">
                </form>
            </div>

            <div ref="base64Image" v-show="curType=='base64'">
                <br/>
                <textarea class="mdui-textfield-input" rows="8" id="base64Input" v-model="txtBase64Input"
                          placeholder="粘贴DataURI数据"></textarea><br/>
                <img id="base64Image" alt="" :src="txtBase64Input" v-show="!!txtBase64Input.length" height="200"
                     width="200" @error="loadError">
            </div>
        </div>

        <script type="text/javascript" src="/image-base64/index.js"></script>

    </div>

    <div class="mdui-color-theme doc-footer-nav">
        <footer>
            <div class="footer-icons mdui-col-xs-3 mdui-valign">
                <div class="mdui-center">
                    <a href="mailto:i@zjun.info" class="mdui-btn mdui-btn-icon mdui-ripple"
                       mdui-tooltip="{content: '邮箱'}" target="_blank"><i
                            class="mdui-icon fa fa-envelope-square"></i></a>
                    <a href="https://github.com/z1un" class="mdui-btn mdui-btn-icon mdui-ripple"
                       mdui-tooltip="{content: 'GitHub'}" target="_blank"><i
                            class="mdui-icon fa fa-github"></i></a>
                    <a href="https://twitter.com/zjuninfo" class="mdui-btn mdui-btn-icon mdui-ripple"
                       mdui-tooltip="{content: 'Twitter'}" target="_blank"><i
                            class="mdui-icon fa fa-twitter"></i></a>
                    <a href="https://blog.zjun.info" class="mdui-btn mdui-btn-icon mdui-ripple"
                       mdui-tooltip="{content: 'Blog'}" target="_blank"><i
                            class="mdui-icon fa fa-book"></i></a>
                </div>
            </div>
            <div class="footer-copyright mdui-col-xs-6 mdui-valign">
                <div class="mdui-center">Copyright © 2021 <a href="https://www.zjun.info/" target="_blank">ZJUN</a>
                </div>
            </div>
            <div class="footer-credit mdui-col-xs-3 mdui-valign">
                <div class="mdui-center">
                    <div><a href="https://beian.miit.gov.cn/" target="_blank">蜀ICP备20009085号</a></div>
                    <div><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51010802000845"
                            target="_blank">川公网安备51010802000845号</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
